body {
  margin: 0;
  padding: 0;
  background-color: #FFFDE7;
}
.press-start {
  font-family: 'Press Start 2P', cursive;
}
.font-impact {
  font-family: Impact, Charcoal, sans-serif;
}
.font-imprima {
  font-family: 'Imprima', sans-serif;
}
.font-pirplepurse {
  font-family: 'Purple Purse', cursive;
}
